html,body {
    margin:0;
    padding:0;
    background-color:white;
}

.navbar {
    padding: 2%;
    color: white;
    background-color: #5827EB; 
   /* background-color: black;  */
    font-size: 14px;
    height: 60px;
    position: fixed;
    width: 100%;
    /* border-bottom: 2px solid white; */
}

li {
    margin-right: 50px;
}

a {    

    color: white;
    font-size: 14px;
}

a:hover {
    color: #F81919;
}

.navbar-button {
    background-color: blueviolet;
}


/* Header */

.header-container{
    background-color: #5827EB;  
    /* background-color: black; */
    height: 700px;
}

.title {
    margin-top: 7px;
    color: white;
    font-size: 82px;
    padding: 7%;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
    margin-left: 15%;
    margin-right: 15%;  
}

#intro {
    color: white;
    font-size: 32px;
    margin-top: -5%;
    margin-left: 22%;
    margin-right: 22%;
    font-family: 'Merriweather Sans', sans-serif;
}

/* About */

.container-about{
    margin-top: -40px;
    background-color: white; 
}

#about-title{
    font-weight: 800;
    margin-left: 15%;
    margin-right: 15%;
    color: #5827EB;
    font-size: 55px;
    font-family: 'Cabin', sans-serif;
    padding: 5%;
}

.abouttitle-liveshere {
   background-color: white; 
   width: 60%;
   height: 450px;
}

#about-me {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Maven Pro', sans-serif;
}

/*Projects */



/* Three image containers (use 25% for four, and 50% for two, etc) */

.projects-container{
    position: relative;
    width: 90%;
    margin: 5%;
}

.projects-title{
    margin-left: 35% !important;
    margin: 10%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    color: #F81919;
}

#project-nda {
    align-items: center;
    align-content: center;
    margin-top: -5%;
    margin-left: 25%;
    margin-right: 25%;
}


.card {
    height: 80%;
    margin: 10%;
    padding: 5%;
    color:black;
    /* background-color: white; opacity:0.9;   */
    background-color: white;
}


 


/* Social Media */
 #link {
     /* margin-left: 30%; */
    /* margin: 10%; */
    font-family: 'Oxygen', sans-serif;
    color: #5827EB !important;
    font-size: 14px;
  } 
  
  .container-social {
    margin-bottom: 15% !important;
    width: 50%;
    margin: 10px;
    margin-top: 150px;
    height: 200px;
    /* background-color: black; */
   } 

  h3 {
      margin: 2%;
      /* display: inline; */
  } 

  .find-internet {
    color: #2E282C;
    font-size: 32px;
  }

  #want{
      margin-top: -30%;
      float: right;
      width: 45%;
      margin-left: 10%;
      margin-right: 5%;
  }

  #iLook {
    color: #2E282C;
    font-size: 42px; 
  }

  #both {
    margin: 10%;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: #373136;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Contact */

  .btn-contact{
    border-radius: 0;
    height: 30px;
    width: 100px;
    left: 50%;
    background-color: #2E282C;
  } 

   .btn-contact:hover{
      background-color: white;
     color: black;
  } 
  
  .container-contact {
    width: 100%; 
    font-family: 'Maven Pro', sans-serif;
   } 


  

    /* Footer */
  .footer {
    margin-top: 10% !important;
    border-top: #5827EB 1px dotted;
    width: 100%;
    }

    .m-0 {
    margin-top: 55px !important;
    color: #202DFC;
    font-size: 10px;
    } 



    @media all and (max-width: 480px) { 

        .title {
            margin: 15%;
            font-size: 52px;
        }

        #intro {
            margin-top: -15%;
            /* padding: 2%; */
            font-size: 20px;
        }

        .container-about{
            background-color: #5827EB; 
        }
        

        #about-title{
            font-weight: 900;
            margin-left: 7%;
            margin-right: 5%;
            color: #5827EB;
            font-size: 30px;
            font-family: 'Cabin', sans-serif;
            /* padding: 10%; */
        }

        .abouttitle-liveshere {
            background-color: white; 
            width: 100%;
            height: 370px;
         }

         #about-me {
            margin-left: -5%;
            font-size: 20px;
            width: 100%;
            text-align: center;
            font-weight: 200;
            font-family: 'Maven Pro', sans-serif;
        
        }

        h2 {
            margin-left: 10%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 42px;
            padding: 5%;
            color: white;
          }

          .btn-contact{
            margin-left: 30%;
            border-radius: 0;
            height: 50px;
            width: 120px;
            left: 50%;
            color: white;
            border: 1px white solid;
        
          }

          .container-social{
            height: 300px;  
        }

    }

    @media all and (min-width: 480px) and (max-width: 768px) {

        .container-social{
            height: 300px;  
        }

        .title {
            margin: 15%;
            font-size: 60px;
        }

        #intro {
            margin-top: -15%;
            /* padding: 2%; */
            font-size: 20px;
        }

        #about-title{
            font-weight: 900;
            margin-left: 7%;
            margin-right: 5%;
            color: #5827EB;
            font-size: 35px;
            font-family: 'Cabin', sans-serif;
            padding: 10%;
        }

        .abouttitle-liveshere {
            background-color: white; 
            width: 90%;
            height: 370px;
         }

        #about-me {
            margin-left: -5%;
            font-size: 20px;
            width: 100%;
            text-align: center;
            font-weight: 200;
            font-family: 'Maven Pro', sans-serif;
        
        }

        .btn-contact {
            margin-left: 50%;
            border-radius: 0;
            height: 70px;
            width: 140px;
            color: white;
            border: 2px white solid;
        
          }
          h2 {
            margin-left: 30%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 60px;
            padding: 5%;
            color: white;
          }
          
          .footer {
            margin-top: 400px !important;
          }

     }


    /* 855-203-8085 */

    @media all and (min-width: 768px) and (max-width: 1024px) {

        .title {
            margin-top: 100px;
            color: white;
            font-size: 82px;
            padding: 7%;
            font-family: 'Cabin', sans-serif;
            font-weight: 900;
            /* margin-left: 15%;
            margin-right: 10%;   */
        }

        #about-title{
            font-weight: 900;
            margin-left: 7%;
            margin-right: 5%;
            color: #5827EB;
            font-size: 52px;
            font-family: 'Cabin', sans-serif;
            padding: 10%;
        }

        .abouttitle-liveshere {
            background-color: white; 
            width: 80%;
            height: 370px;
         }

         #intro {
            font-weight: 200;
            color: white;
            font-size: 22px;
            margin-top: -5%;
            margin-left: 22%;
            margin-right: 22%;
            font-family: 'Merriweather Sans', sans-serif;
        }

        h2 {
            margin-left: 40%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 60px;
            padding: 5%;
            color: white;
          }

        .btn-contact {
            margin-left: 60%;
            border-radius: 0;
            height: 70px;
            width: 140px;
            color: white;
            border: 5px white solid;
          }

          .container-contact {
            height: 350px;
        }

        .footer {
            margin-top: 40% !important;
        }

    }

    @media all and (min-width: 1024px) and (max-width: 1580px) { 
        .header-container{
          background-color: #5827EB;  
           height: 700px;
       }

       .title {
        color: white;
        font-size: 82px;
        padding: 7%;
        font-family: 'Cabin', sans-serif;
        font-weight: 900;
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;  
    }
    
    #intro {
        color: white;
        font-size: 32px;
        margin-top: -5%;
        margin-left: 22%;
        margin-right: 22%;
        font-family: 'Merriweather Sans', sans-serif;
    }

        .abouttitle-liveshere {
            background-color: white; 
            width: 70%;
            height: 400px;
         }

        #about-title{
            /* margin-top: 10px; */
            font-weight: 900;
            color: #5827EB;
            font-size: 52px;
            font-family: 'Cabin', sans-serif;
            padding: 7%;
        } 


        #intro {
            font-weight: 200;
            color: white;
            font-size: 32px;
            margin-top: -5%;
            margin-left: 22%;
            margin-right: 20%;
            font-family: 'Merriweather Sans', sans-serif;
        }

        #about-me {
            /* margin-left: -5%; */
            font-size: 20px;
            /* width: 100%; */
            font-weight: 200;
            font-family: 'Maven Pro', sans-serif;
        }

        .btn-contact {
            margin-top: -20px;
            border-radius: 0;
            height: 80px;
            width: 200px;
            margin-left: 60%;
            color: white;
            border: 2px white solid;
          }

        h2 {
            margin-left: 20%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 60px;
            padding: 5%;
            color: white;
          }

        .container-contact {
            height: 350px;
        }


    }

    @media all and (min-width: 1024px) and (max-width: 1980px) { 
        .header-container{
            background-color: #5827EB;  
           height: 800px;
       }

       .btn-contact {
        margin-top: -20px;
        border-radius: 0;
        height: 80px;
        width: 200px;
        margin-left: 60%;
        color: white;
        border: 2px white solid;
      }

    h2 {
        margin-left: 20%;
        font-family: 'Maven Pro', sans-serif;
        font-size: 60px;
        padding: 5%;
        color: white;
      }
    }
